# App Configuration
SEFUD_APP_PORT=7000
SEFUD_APP_MIME_BLACKLIST=application/x-sh,application/x-msdownload,application/x-executable
SEFUD_APP_MAX_UPLOAD_SIZE=104857600


# Database Configuration
SEFUD_DB_USER=user
SEFUD_DB_PASSWORD=password
SEFUD_DB_NAME=sefud
SEFUD_DB_HOST=localhost
SEFUD_DB_PORT=5432

# Cloudflare R2 Configuration
SEFUD_STORAGE_ACCESS_KEY_ID=your_r2_access_key_id
SEFUD_STORAGE_SECRET_ACCESS_KEY=your_r2_secret_access_key
SEFUD_STORAGE_BUCKET_NAME=sefud-files
SEFUD_STORAGE_ENDPOINT=https://your-account-id.r2.cloudflarestorage.com
SEFUD_STORAGE_REGION=auto

# # MinIO Local S3 Configuration for Testing
# SEFUD_STORAGE_ACCESS_KEY_ID=minioadmin
# SEFUD_STORAGE_SECRET_ACCESS_KEY=minioadmin123
# SEFUD_STORAGE_BUCKET_NAME=sefud-files
# SEFUD_STORAGE_ENDPOINT=http://localhost:9000
# SEFUD_STORAGE_REGION=us-east-1