# App Configuration
SEFUD_APP_PORT=7000
SEFUD_STORAGE_PATH=./uploads
SEFUD_MIME_BLACKLIST=application/x-sh
SEFUD_MAX_UPLOAD_SIZE=10485760

# Database Configuration
SEFUD_DB_USER=user
SEFUD_DB_PASSWORD=password
SEFUD_DB_NAME=sefud
SEFUD_DB_HOST=localhost
SEFUD_DB_PORT=5432