# App Configuration
SEFUD_APP_PORT=7000
SEFUD_STORAGE_PATH=./uploads
SEFUD_MIME_BLACKLIST=application/x-sh,application/x-msdownload,application/x-executable
SEFUD_MAX_UPLOAD_SIZE=104857600

# Database Configuration
SEFUD_DB_USER=user
SEFUD_DB_PASSWORD=password
SEFUD_DB_NAME=sefud
SEFUD_DB_HOST=localhost
SEFUD_DB_PORT=5432

# Cloudflare R2 Configuration
SEFUD_R2_ACCESS_KEY_ID=your_r2_access_key_id
SEFUD_R2_SECRET_ACCESS_KEY=your_r2_secret_access_key
SEFUD_R2_BUCKET_NAME=sefud-files
SEFUD_R2_ENDPOINT=https://your-account-id.r2.cloudflarestorage.com
SEFUD_R2_REGION=auto

# # MinIO Local S3 Configuration for Testing
# SEFUD_R2_ACCESS_KEY_ID=minioadmin
# SEFUD_R2_SECRET_ACCESS_KEY=minioadmin123
# SEFUD_R2_BUCKET_NAME=sefud-files
# SEFUD_R2_ENDPOINT=http://localhost:9000
# SEFUD_R2_REGION=us-east-1